body {
font-family: 'Open Sans', sans-serif ; roboto;
    color: silver
}
.header-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.header-tel{
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}
.main-btn{
font-family:inherit;
font-weight: 500; 
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
}
.main-logo-big{
font-family: 'Roboto';
font-style: normal;
font-size: 56px;
line-height: 60px;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.main-logo{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
}
.main-lead{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}
.picture-logo{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.picture{
width: 360px;
height: 300px;
border: 1px solid #E7E9FC;
flex: none;
order: 0;
flex-grow: 0;
}
.logo{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.grid-section{
position: absolute;
width: 1440px;
height: 732px;
left: 0px;
top: 1548px; 
background: #F4F4FD;
}
.pic{
width: 264px;
height: 260px;
flex: none;
order: 0;
flex-grow: 0;
}
.logo-pic{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px; 
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
}
